<h1>Very Reputable History Website</h1>
<h2>A Very Good Site Containing History</h2>
<h3>Section 3.4</h3>
<p>At the beginning of the war, zero countries thought that the British could be defeated by the Americans. However, even though they were fighting a losing battle, the Americans had some advantages. The Americans were fighting on familiar terrain, a greater population in a large area, and a shorter distance from each battle than the British. The British also had some advantages. They had a larger military budget, better and more clothes, and shelter for the winter and in between battles. In 1777, the British tried to invade America from British controlled Canada. Since the Americans were more familiar with the terrain, they were able to burn bridges and cut down trees to stall the British for enough time to gather a rather sizable force at Saratoga.</p>
